<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
      <div class="row collapse navbar-collapse active" id="topnav-menu-content">
        <ul class="navbar-nav bg-primary">

          <li class="nav-item p-2 text-center"><img src="../assets/images/imgpet.png" width="20px" height="20px" />
            <br/><span class="text-bark bold">Pets</span>
          </li>
          <li class="nav-item border-right-1 p-2">
            <a class="font-weight-bold nav-link text-white arrow-none" id="topnav-components" role="button">
              <i class="fa fa-star me-2"></i>Accueil<div class="arrow-down">
              </div>
            </a>
          </li>
          <li class="nav-item border-right-1 p-2">

            <a class="font-weight-bold nav-link text-white arrow-none" id="topnav-components" role="button">
              <i class="fa fa-star me-2"></i>Animaux<div class="arrow-down">
              </div>
            </a>
          </li>
         
        </ul>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>